.board-div {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: snow;
}

.board-div h1 {
    padding-top: 4vh;
    font-size: 10vh;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#try-button {
    margin: auto;
    width: 40rem;
    height: 30rem;
    font-size: 8rem;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    font-family: 'sans-serif';
    cursor: pointer;
    box-shadow: 0 0 5px #ccc;
}

.game-mid-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10vh;
}

@media only screen and (max-width: 900px) {
    .game-mid-div {
        flex-direction: column;
    }
    .button-container {
        margin-top: 10vh;
    }
}

.scorewrapper {
    margin-top: 10vh;
}

.scorewrapper p {
    font-size: 3vh;
}
