.board-div {
    text-align: center;
}

.board-div h1 {
    padding-top: 4vh;
    font-size: 8vh;
}

#try-button{
    width: 200px;
    height: 400px;
    font-size: 3vh;
    margin: auto;
    margin-right: 6vw;
    margin-top: 12vh;
}

.game-mid-div {
    display: flex;
    flex-direction: row;
}

.scorewrapper {
    margin-top: 2vh;
}

.scorewrapper p {
    font-size: 2.5em;
}