.board-div {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    text-align: center;
    background-color: snow;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    overflow: hidden;
}

@font-face {
    font-family: 'Monofett-Regular';
    src: url('../../../fonts/Monofett-Regular.ttf');
}

.game-top-div > h1 {
    font-size: 30rem;
    font-family: 'Monofett-Regular';
    letter-spacing: 1.5vh;
    cursor: default;
    margin: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#try-button {
    font-size: 6rem;
    margin: auto;
    width: 5em;
    height: 4em;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    font-family: 'PressStart2P-Regular';
    cursor: pointer;
    box-shadow: 0 0 5px #ccc;
}

.game-mid-div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 10vw;
}

.score-wrapper {
    margin-top: 3vh;
}

.score-wrapper p {
    font-size: 3vh;
    font-family: 'PressStart2P-Regular';
    line-height: 5vh;
    cursor: default;
}

.tips-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 250, 250, 150%);
    color: #211c22;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
    opacity: 95%;
    border-radius: 1em;
    text-align: center;
    z-index: 1;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    font-size: 10rem;
    width: 65vw;
    height: 60%;
    grid-template-columns: 60% 40%;
    border: 0.3em dashed #211c22;
}

.tip-animation > .letter-wrapper > .cube-ctrl-button{
    display: none;
}

.tip-animation {
    display: flex;
}

.tip-animation .letter-wrapper {
    font-size: 0.08em;
    margin-bottom: 50em;
}

.tip-text {
    margin-bottom: 1em;
    margin-left: 3vw;
    font-size: 1.2em;
}

.tip-animation img {
    margin: 2.3em 0 0 0;
    width: 2em;
    height: 2em;
}

.close-tip-button {
    position: absolute;
    font-size: 0.7em;
    bottom: 2em;
    background: transparent;
    border: 0.1em solid #2c282d;
    padding: 0.3em;
    text-shadow: 0 0 0.02em #000;
    box-shadow: 0 0 0.05em #000;
    border-radius: 0.3em;
}

.hide-tip {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .game-top-div > h1 {
        font-size: 60rem;
    }
    #try-button {
        margin: auto;
    }
    .board-div {
        grid-template-rows: 1.5fr 2fr 1fr;
    }
    #downButton {
        bottom: 3em;
    }
    .game-mid-div {
        padding: 0 3vw;
    }

    .tip-text {
        font-size: 1.2em;
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 900px) {
    .game-mid-div {
        flex-direction: column;
    }
    .button-container {
        margin-top: 10vh;
    }
    #try-button {
        margin-top: 8vh;
        width: 60rem;
        height: 40rem;
    }
    .board-div h1 {
        letter-spacing: .3vh;
        margin-top: 10vh;
    }

    .tips-window {
        font-size: 6rem;
        padding: 0 2em 2em 2em;
        width: 70vw;
        height: 40%;
        grid-template-columns: 60% 40%;
    }

    .close-tip-button {
        font-size: 1.1em;
        bottom: 1em;
        border: 0.1em solid #2c282d;
        padding: 0.4em;
        border-radius: 0.3em;
    }

    .tip-animation .letter-wrapper {
        font-size: 1px;
    }

    .tip-animation img {
        margin-top: 1.3em;
        width: 2em;
        height: 2em;
    }

    .game-mid-div {
        display: flex;
        flex-direction: column;
    }

    .game-top-div > h1 {
        font-size: 50rem;
    }

    #upButton {
        top: 3.5em;
    }

    #downButton {
        top: 5em;
    }

    .board-div {
        display: grid;
        grid-template-rows: 1fr 4fr 2fr;
    }

    .tip-animation {
        font-size: 2em;
    }

    .tip-animation .letter-wrapper {
        font-size: 0.06em;
        margin-bottom: 45em;
    }

    .tip-animation img {
        margin-top: 2.8em;
    }

    .tip-text {
        font-size: 1.4em;
        margin: 3vh 3vw 0 0;
    }
}
