.letter-wrapper {
    font-size: 0.3vw;
    width: 40rem;
}

.container {
    height: 40rem;
    margin: 25rem 7.5rem 0 7.5rem;
}

.box {
    justify-content: center;
    text-align: center;
    width: 25rem;
    height: 25rem;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -21.6506351rem;
    transition: transform .5s linear;
}

.card {
    height: 25rem;
    width: 25rem;
    text-align: center;
    color: white;
    background: #211c22;
    border: 0.2rem solid white;
    line-height: 25rem;
    box-sizing: border-box;
    position: absolute;
}

.border {
    position: relative;
    height: 23rem;
    width: 23rem;
    border: 2rem solid black;
    top: -25rem;
    transform: translateX(-1rem) translateY(-1rem);
}

#face2 {
    transform-origin: top;
    transform: translateY(25rem) rotateX(-60deg);
}

#face3 {
    transform-origin: bottom;
    transform: translateZ(-43.3012702rem) rotateX(-120deg);
}

#face4 {
    transform: translateZ(-43.3012702rem) rotateX(180deg);
}

#face5 {
    transform-origin: top;
    transform: translateZ(-43.3012702rem) rotateX(120deg);
}

#face6 {
    transform-origin: bottom;
    transform: translateY(-25rem) rotateX(60deg);
}

.letterTextWrapper {
    font-size: 10rem;
}

.cube-ctrl-button {
    font-size: 5rem;
    background: white;
    color: #282c34;
    width: 20rem;
    height: 10rem;
    border: 0.2rem solid #282c34;
    border-radius: 15px;
}

.cube-ctrl-button svg {
    width: 10rem;
    margin-top: 1rem;
}

#upButton {
    position: relative;
    top: 10rem;
}

@media (pointer: coarse) {
    .border {
        display: none !important;
    }
}
