.container {
    height: 40rem;
}

.letter-wrapper {
        width: 25rem;
}

.box {
    transform-style: preserve-3d;
    transform-origin: 50% 50% -21.6506351rem;
    transition: transform .5s linear;
    margin: 20rem 0 0 5rem;
}

.card {
    height: 25rem;
    width: 25rem;
    text-align: center;
    color: white;
    background: black;
    border: 0.2rem solid white;
    font-size: 96px;
    line-height: 25rem;
    box-sizing: border-box;
    position: absolute;
}

#face2 {
    transform-origin: top;
    transform: translateY(25rem) rotateX(-60deg);
}

#face3 {
    transform-origin: bottom;
    transform: translateZ(-43.3012702rem) rotateX(-120deg);
}

#face4 {
    transform: translateZ(-43.3012702rem) rotateX(180deg);
}

#face5 {
    transform-origin: top;
    transform: translateZ(-43.3012702rem) rotateX(120deg);
}

#face6 {
    transform-origin: bottom;
    transform: translateY(-25rem) rotateX(60deg);
}
