.letter-wrapper {
    font-size: 1em;
    width: 40em;
}

.container {
    height: 40em;
    margin: 25em 7.5em 0 7.5em;
}

.box {
    justify-content: center;
    text-align: center;
    width: 25em;
    height: 25em;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -21.6506351em;
    transition: transform .5s linear;
}

.card {
    height: 25em;
    width: 25em;
    text-align: center;
    color: white;
    background: #211c22;
    border: 0.2em solid white;
    line-height: 25em;
    box-sizing: border-box;
    position: absolute;
}

.letterTextWrapper > span {
    font-size: 9em;
    cursor: default;
}

.border {
    position: relative;
    height: 23em;
    width: 23em;
    border: 2em solid black;
    top: -25em;
    transform: translateX(-1em) translateY(-1em);
}

#face2 {
    transform-origin: top;
    transform: translateY(25em) rotateX(-60deg);
}

#face3 {
    transform-origin: bottom;
    transform: translateZ(-43.3012702em) rotateX(-120deg);
}

#face4 {
    transform: translateZ(-43.3012702em) rotateX(180deg);
}

#face5 {
    transform-origin: top;
    transform: translateZ(-43.3012702em) rotateX(120deg);
}

#face6 {
    transform-origin: bottom;
    transform: translateY(-25em) rotateX(60deg);
}

.cube-ctrl-button {
    font-size: 8em;
    background: white;
    color: #282c34;
    width: 2em;
    height: 1em;
    border: 0.08em solid #282c34;
    border-radius: 15px;
    box-sizing: border-box;
}

.cube-ctrl-button svg {
    width: 0.8em;
    /*margin-top: -0.1em;*/
    margin: 0 0 0.25em 0;
}

#upButton {
    position: relative;
    top: 1.23em;
}

@media (pointer: coarse) {
    .border, #upButton, #downButton {
        display: none !important;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        height: 40em;
        margin: 25em 0 0 0;
    }
}
