<html>
    <title>Welcome to sample html</title>
<head>
<link rel="stylesheet" href="sample.css">
</head>
<body>
<div class="container">
    <div class="box">
        <div class="card" id="face1">X</div>
        <div class="card" id="face2">Y</div>
        <div class="card" id="face3">Z</div>
        <div class="card" id="face4">A</div>
        <div class="card" id="face5">E</div>
        <div class="card" id="face6">C</div>
    </div>
</div>
<button id="nextButton">Next</button>
<button id="prevButton">Previous</button>
<script>
    let index = 0;
    const nextBtn = document.querySelector("#nextButton");
    const box = document.querySelector(".box");
    nextBtn.addEventListener("click", function () {
        index = index + 1;
        box.style.transform = `rotateX(${index * 60}deg)`;
    });
    const prevBtn = document.querySelector("#prevButton");
    prevBtn.addEventListener("click", function () {
        index = index - 1;
        box.style.transform = `rotateX(${index * 60}deg)`;
    });
</script>
</body>
</html>
