<html>
    <title>Welcome to sample html</title>
<head>
<link rel="stylesheet" href="sample.css">
</head>
<body>
<div class="container">
    <div class="box">
        <div class="card" id="face1">face1</div>
        <div class="card" id="face2">face2</div>
        <div class="card" id="face3">face3</div>
        <div class="card" id="face4">face4</div>
        <div class="card" id="face5">face5</div>
        <div class="card" id="face6">face6</div>
    </div>
</div>
<button id="animateBtn">Animate</button>
<script>
    let index = 0;
    const animateBtn = document.querySelector("#animateBtn");
    const box = document.querySelector(".box");
    animateBtn.addEventListener("click", function () {
        index += 1;
        box.style.transform = `rotateX(${index * 60}deg)`;
    });
</script>
</body>
</html>
